<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
<style>
            /* <!-- h1 { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 20px; } -->
            h1 { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 24px; }
            h2 { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 24px; } 
            h3 { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 24px; } 
            p { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } 
            blockquote { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } 
            pre { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; }   
            span { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; }
            figcaption { font-family: Inconsolata; src: url(Inconsolata-Regular.otf) format("otf"); font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } */
</style>    
</head>

<body>

@font-face {
  font-family: "Inconsolata"; src: url('Inconsolata-Regular.otf') format('otf'); 
   }

        <!-- body {
            text-align: center;
            background-color: #f8f8f8;
        } -->



body {
            text-align: center;
            background-color: #f8f8f8;
            font-family: "Inconsolata", Consolas, Monospace;
            line-height:1.5;
            font-style: normal; font-variant: normal;
        }

div.Max-width {
  max-width: 1000px;
  margin: auto;
  }
  
  
   h1 { font-size: 24px; font-weight: 700; }
   h2 { font-size: 21px; font-weight: 700; }
   h3 { font-size: 18px; font-weight: 700; }
   p { font-size: 18px; font-weight: 400; }
   blockquote { font-size: 21px; font-weight: 400; }
   pre { font-size: 18px; font-weight: 400; }
   span { font-size: 18px; font-weight: 400; }
   figcaption { font-size: 16px; font-weight: 400; }
   li { font-size: 16px; font-weight: 400; }


/*  p {
            <!-- highlight -->
            padding: 10px;
            line-height: 150%;
            margin: 10px;
} */

        .highlight {
	background-color: #303030;
	line-height: 150%;
}

</body>
</html>