﻿		body {
			font-family : href="https://fonts.googleapis.com/css?family=Inconsolata"; color: #cccccc;
		}

		@font-face {
		font-family : Inconsolata;
		src : url(inconsolata.woff2) format(woff2);
		}

		body {
			text-align: center;
			background-color: #3c3c3c;
			font-family: Inconsolata, Consolas, Monospace; color: #cccccc;
			line-height:1.5;
			font-style: normal; font-variant: normal;
		}

		/*Link Color*/
		a:link {
			color: #eeeeee;
			background-color: transparent;
			text-decoration: underline;
			text-decoration-color: grey;
			text-underline-position: under;
		}

		a:visited {
			color: #eeeeee;
			background-color: transparent;
			text-decoration-color: grey;
			text-underline-position: under;
		}

		a:hover {
			color: #ffffff;
			background-color: transparent;
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-position: under;
		}

		a:active {
			color: #dddddd;
			background-color: transparent;
			text-decoration-color: grey;
			text-underline-position: under;}
		/*End Link Color*/

		div.Max-width {
			max-width: 640px;
			margin: auto;
		}

		h1 { font-size: 25px; font-weight: 620; color:#dddddd;
		}
		h2 { font-size: 22px; font-weight: 620; color:#dddddd;
		}
		h3 { font-size: 19px; font-weight: 620; color:#dddddd;
		}
		h4 { font-size: 22px; font-weight: 620; color:#dddddd;
		}
		h5 { font-size: 14px; font-weight: 320; color:#dddddd;
		}
		p { font-size: 17px; font-weight: 320;
		}
		blockquote { font-size: 17px; font-weight: 320;
		}
		pre { font-size: 17px; font-weight: 320;
		}
		span { font-size: 17px; font-weight: 320;
		}
		figcaption { font-size: 15px; font-weight: 320;
		}
		li { font-size: 17px; font-weight: 320;
		}

		/* Add highlight */
		.highlight {
			background-color: #303030;
			padding: 10px;
			line-height: 150%;
			margin: 10px;
		}

		/* Add a card effect */
		.card {
			background-color: #414141;
			padding: 15px 15px;
			margin-top: 15px;
			margin-bottom: 15px;
			box-shadow: 0 0px 10px 0 #363636;
			transition: 0.3s;
			border-radius: 0px;
			max-width: none;
		}
			
		/* On mouse-over, add a deeper shadow */
		.card:hover {
			box-shadow: 0 0px 10px 0 #222222;
		}

		/* Badge */
			.bgreen {
				background-color: #00D000; /* Green */
				color:#ffffff;
				padding: 2px 4px;
				text-align: center;
				border-radius: 2px;
			}
			.bblue {
				background-color: #183EFF; /* Blue */
				color:#ffffff;
				padding: 2px 4px;
				text-align: center;
				border-radius: 2px;
			}
			.byellow {
				background-color: #FFD000; /* Yellow */
				color:#000000;
				padding: 2px 4px;
				text-align: center;
				border-radius: 2px;
			}
			.bred {
				background-color: #FF0000; /* Red */
				color:#ffffff;
				padding: 2px 4px;
				text-align: center;
				border-radius: 2px;
			}

		/* Notes */
			.ngreen {
				background-color: transparent;
				border-left: 2px solid #00D000;
			}
			.nblue {
				background-color: transparent;
				border-left: 2px solid #183EFF;
			}
			.nyellow {
				background-color: transparent;
				border-left: 2px solid #FFD000;
			}
			.nred {
				background-color: transparent;
				border-left: 2px solid #FF0000;
			}

		img {
			pointer-events: none;
		}

		/* Dashed border */
		hr.new1 {
		border: 1px dashed gray;}